<%= form_for(@location) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_area :content, placeholder: "Podaj opis miejsca (adres, znaki szczególne)" %>
  </div>
  <%= f.submit "Dodaj", class: "btn btn-primary" %>
<% end %>
